head, body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: chapparel;
    src: url(./../assets/font/ChaparralPro-Regular\ 400\ \(1\).otf);
}

@font-face {
    font-family: futura;
    src: url(./../assets/font/futura/Futura-Book-font.ttf);
}

*{
    font-family: futura;
}

.coverpic-headline{
    background-image: url('../assets/images/industry.jpg');
    min-height: 150px;
}

.coverpic-headline p{
    color: white;
    font-size: 25px;
    font-family: chapparel;
    letter-spacing: 0.1em;
    margin: 0;
} 

/* Regsitration */

.registration p{
    color: #0C4C8B;
    font-family: chapparel;
    letter-spacing: 0.1em;
}
.registration input{
    border: 1px solid #BCD2E2;
    border-radius: 2px !important;
}

.registration ::placeholder{
    color: #0C4C8B !important;
}

.mg-b-100px{
    margin-bottom: 100px;
}

.starMark{
    position: absolute;
    top: 35px;
    left: 0px;
    color: #0C4C8B;
}

.grid-captcha{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    border: 1px solid #dddddd;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F9F9F9;
}

.grid-captcha label{
    font-size: 14px;
}

.grid-captcha p{
    margin: 0;
}

.grid-captcha .logo{
    text-align: center;
}

.grid-captcha .logo p{
    font-size: 12px;
    padding-top: 6px;
}

.grid-captcha .logo small{
    font-size: 11px;
}

.grid-captcha .logo p, small{
    color: #A1A4AB;
}

.captcha-checkbox{
    align-self: center;
}

.form-check-label{
    color: #0C4C8B !important;
}

.termsConditions{
    margin-left: 20px;
    margin-right: 20px;
}

.btn-danger{
    background-color: #F01D2D !important;
}

.nav-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.nav-grid .menu{
    justify-self: center;
}

.nav-grid .company-logo, .login{
    justify-self: center;
}

.nav-grid .menu a{
    padding: 0 15px;
    color: #242C42;
}

.nav-grid .login button:first-child{
    border-radius: 25px;
    background-color: #242C42;
    color: white;
    border: none;
    padding: 7px 25px;
    outline: none;
    font-size: 11px;
}

.nav-grid .login button:last-child{
    border-radius: 25px;
    background-color: #0C4C8B;
    color: white;
    border: none;
    padding: 7px 25px;
    font-size: 11px;
    outline: none;
}

@media only screen and (max-width: 1024px){
    .nav-grid .menu a{
        padding: 0 5px;
    }
}

@media only screen and (max-width: 768px){
    .nav-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

@media only screen and (max-width: 480px){
    .nav-grid .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* footer */

/* grid */

.footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: black;
    color: white;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    left: 0;
}

.footer p{
    margin: 0;
    padding: 15px;
}

.sub-menu{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 15px;

}

.sub-menu > div a{
    color: #fff;
    padding: 0 15px;
}

@media only screen and (max-width:805px){
    .footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sub-menu{
        justify-content: center;
    }
}

@media only screen and (max-width:536px){
    .sub-menu{
        flex-direction: column;
    }
}

/*  */

/* .footer{
    background-color: #181818;
    color: white;
    position: absolute;
    bottom: 0;
}

.mx-86{
    max-width: 86%;
    padding: 20px;
    position: absolute;
    margin-top: 150px;
    background-color: #000;
    color: white;
}

.footer-grid{
    grid-template-columns: 1fr 1fr;
    display: grid;
    font-size: 12px;
}

.footer-menu{
    display: flex;
    justify-self: flex-end;
}

.footer-menu > div{
    padding: 0 12px;
}

.footer-menu > div a{
    text-decoration: none;
    color: #fff;
}

.copyright p{
    margin: 0;
}

@media only screen and (max-width:670px){
    .footer-grid{
        grid-template-columns: 1fr;
    }
    .footer-menu{
        justify-self: center;
    }
    .copyright{
        justify-self: center;
    }
} */

/* Login Page Styling */

.min-height-95{
    min-height: 95vh;
    max-width: 50% !important;
}

.login-grid p{
    color: #0C4C8B;
    font-family: chapparel;
    letter-spacing: 0.1em;
}

.login-grid input{
    border: 1px solid #BCD2E2;
    border-radius: 2px !important;
}

.login-grid ::placeholder{
    color: #0C4C8B !important;
}

.align-self{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.recaptcha-48{
    width: 46% !important;
    margin-left: 15px;
    border: 1px solid #dddddd;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F9F9F9;
}

@media only screen and (max-width:768px){
    .recaptcha-48{
        width: 96% !important;
    }
    .min-height-95{
        max-width: 90% !important;
    }
    .align-self{
        justify-content: flex-start;
    }
}

@media only screen and (max-width:571px){
    .recaptcha-48{
        width: 94% !important;
    }
}

.recaptcha-48 .logo p{
    font-size: 12px;
    padding-top: 6px;
}

.recaptcha-48 .logo small{
    font-size: 11px;
}

.recaptcha-48 .logo p, small{
    color: #A1A4AB;
}

.btn-signup{
    background-color: #0c4c8b !important;
    color: #fff !important;
}

.hr-line-center p{
    width: 40%; 
   text-align: center; 
   border-bottom: 1px solid rgb(155, 192, 218); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.hr-line-center span { 
    background:#fff; 
    padding:0 10px; 
}

/* Enquiry */

.enquiry-custom-div{
    max-width: 85%;
    margin: 100px auto;
}

.enquiry p{
    color: #0C4C8B;
    font-family: chapparel;
    letter-spacing: 0.1em;
}
.enquiry input{
    border: 1px solid #BCD2E2;
    border-radius: 2px !important;
}

.enquiry ::placeholder{
    color: #0C4C8B !important;
}

.enquiry button{
    background-color: #0C4C8B;
}

/* Home */

.banner{
    background-image: url('./../assets/images/engg.jpg');
    height: 480px;
    position: relative;
    padding: 0 !important;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #a9d4ff;
    opacity: 0.4;
    margin: 0;
    padding: 0;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0%, -50%);
    width: 35%;
}

@media only screen and (max-width:950px){
    .banner-content{
        width: 60%;
    }
}

@media only screen and (max-width:768px){
    .banner-content{
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.pink{
    background-color: #F71C52 !important;
    font-size: 12px !important;
    padding: 10px 30px !important;
    font-weight: 600 !important;
}

.navy{
    background-color: #242C42 !important;
    border: 1px solid #242C42 !important;
    font-size: 12px !important;
    padding: 10px 30px !important;
    font-weight: 600 !important;
}

.heading{
    font-size: 34px;
    font-weight: 600 !important;
    margin: 0;
}

.sub-head{
    margin: 0;
    font-size: 19px;
    color: #f71c52;
    font-weight: 700;
}

.custom-card{
    max-width: 80%;
}

.custom-card p:first-of-type{
    font-size: 20px;
    font-weight: 600;
}

.banner-col p{
    color: #fff;
    margin: 0;
}

.banner-col hr{
    background-color: white;
    width: 70%;
    margin-left: 0;
}

.banner-col:nth-child(odd){
    background-color: #0C4C8B;
}

.banner-col:nth-child(even){
    background-color: #666666;
}

.about-container{
    max-width: 75%;
    margin: auto;
}

.about .about-head{
    font-size: 32px;
    font-weight: 600;
}

.about .about-red-para{
    color: #F01D2D;
}

.midline{
    background-image: url('./../assets/images/mechanical.jpg');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.midline-content{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-40%, -50%);
}

.midline-content p{
    font-size: 30px;
    font-weight: 600;
}

@media only screen and (max-width:900px){
    .midline-content{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.client-feedback{
    padding: 60px 0;
}

.client-feedback-headline{
    font-size: 30px;
}

.clr-grey{
    color: #666666;
}

.card-dp{
    height: 70px;
    width: 70px;
    background-color: #000000;
    border: 4px solid white;
}

.below-div{
    background-color: #0C4C8B;
    position: relative;
    color: white;
    font-style: italic;
}

.card-dp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.update-container{
    background-color: #666666;
}

.update-content{
    max-width: 50%;
}

.update-text h4{
    color: #fff;
}

.update-input{
    position: relative;
}

.update-input input[type=text]{
    box-sizing: border-box;
}

.update-input button{
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width:768px){
    .update-content{
        max-width: 80%;
    }
}

.contact-inputs p{
    font-weight: 600;
    font-size: 25px;
}

.contact-inputs ::placeholder{
    font-size: 11px;
}

.contact-info p:first-child{
    font-weight: 600;
    font-size: 25px;
}

.contact-row{
    box-shadow: 0 0 20px #d3d3d3;
    margin: 80px 0;
}

/* about */

.aboutus-cards p:first-child{
    font-size: 30px;
}

.card-details p:first-of-type{
    color: #143763;
}

.card-details hr{
    background-color: #F79421;
    margin-right: 100px;
    margin-left: 100px;
}

.video-container{
    background-image: url('./../assets/images/mib.jpg');
    background-position: center;
    background-size: cover;
    min-height: 550px;
    position: relative;
}

.video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a9d4ff;
    opacity: 0.5;
}

.video-1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.video-1-content p:last-child{
    font-size: 22px;
}

.video-2-content{
    position: absolute;
    top: 80%;
    left: 5%;
    color: #fff;
}

.video-2-content p:first-child{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.details-container{
    position: relative;
    min-height: 550px;
}

.details-1-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.details-1-content p:last-child{
    font-size: 22px;
}

.details-2-content{
    position: absolute;
    top: 80%;
    left: 5%;
    color: #000;
}

.details-2-content p:first-child{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.clients p{
    font-size: 30px;
    color: #0872BA;
}

/* Producst & Services */

.navyblue-container{
    background-color: #242C42;
}

.levendor{
    background-color: #554C86 !important;
}

.products-content p:first-child{
    font-size: 20px;
}

.products-content hr{
    background-color: #242C42;
    margin-right: 300px;
}

.extra-padding{
    margin: 150px 0;
}